// Colores
$powder_blue: #95B8D1;
$light_blue: #C3DFE0;
$tufts_blue: #3C91E6;

body{
    h1{
        color: $powder_blue;
    }

    .btn-tufts{
        background-color: $tufts_blue;
        border-color: $tufts_blue;
    }

    .btn-tufts:hover{
        background-color: $powder_blue;
        border-color: $powder_blue;
    }

    .card-check, .card-actions{
        padding: 1rem 1rem;

        .custom-checkbox {
            width: 2rem !important;
            height: 2rem !important;
            background-color: $powder_blue !important;
            border: $powder_blue !important;

            cursor: pointer;
        }

        .custom-checkbox:checked {
            background-color: $tufts_blue !important;
            border: $tufts_blue !important;
        }
    }

    .card-actions{
        .btn-blue{
            background-color: $powder_blue !important;
            border: $powder_blue !important;
        }

        .btn-blue:hover{
            background-color: $tufts_blue !important;
            border: $tufts_blue !important;
        }
    }
    
    #tasks_list{
        background-color: $light_blue;
        border-radius: .25rem;
    }

    @media only screen and (max-width: 425px) {
        .card-body{
            padding-bottom: 8px;
        }
        
        .card-actions{
            padding-top: 0;
        }
    }
}
